
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        <a class="navbar-brand" href="@Url.Action("List", "Product")">
            <span class="hidden-xs">SIMPLE WEB STORE</span>
            <div class="visible-xs">SIMPLE</div>
            <div class="visible-xs">WEB</div>
            <div class="visible-xs">STORE</div>
        </a>
    </div>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
